<article>
  <header>
    <h1><%= @job.title %></h1>
    <h2><%= @job.company.name %></h2>
  </header>
  <aside>
    <h1><%= link_to @job.company.name, @job.company.website %></h1>
    <p><%= @job.company.brief_description %></p>
    <p><%= pluralize(@job.company.jobs.count, 'job') %></p>
  </aside>
  <h1>Job Description</h1>
  <p><%= @job.description %></p>
</article>
