<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<%= form_tag '/users/auth/', method: 'post' do %>
  <%= label_tag :username %>
  <%= text_field_tag :username, nil, autofocus: true %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag 'Login' %>
<% end %>
