<%= form_for @company, url: company_save_path do |company_form| %>
  <% if @company.errors.any? %>
    <ul>
    <% @company.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  <%= company_form.label :name %>
  <%= company_form.text_field :name %>
  <%= company_form.label :brief_description %>
  <%= company_form.text_field :brief_description, :placeholder => "Leading Rails Company" %>
  <%= company_form.label :description %>
  <%= company_form.text_area :description, :placeholder => "We are a product-focused company where software development ..." %>
  <%= company_form.label :website %>
  <%= company_form.text_field :website %>
  <%= company_form.submit "Save" %>
<% end %>
